<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .done-true {
        text-decoration: line-through;
        color: grey;
    }
    </style>
</head>
<body ng-app="myApp" ng-cloak>
 
    <div ng-controller="apiservice">
        {{apiData | json}}
        <ul>
            <li ng-repeat="item in apiData">
                {{item.name}}
                <input type="number" ng-model="item.age" ng-change="reCalculate($index)" >
            </li>
        </ul>
        <hr>
        Total: <input type="number" ng-model="calAge">
    </div>

    <script src="angular.js"></script>
    <script src="app.js"></script>
</body>
</html>